USE [QLDSV]
GO
/****** Object:  User [HTKN]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [ADMIN]
GO
/****** Object:  DatabaseRole [MSmerge_054A7D02E468444FB095B3B337A38D9A]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [MSmerge_054A7D02E468444FB095B3B337A38D9A]
GO
/****** Object:  DatabaseRole [MSmerge_163951FC1AE9411691838ED27B25745D]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [MSmerge_163951FC1AE9411691838ED27B25745D]
GO
/****** Object:  DatabaseRole [MSmerge_796667008B1F4DF69CE9E7EFF84E7AB4]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [MSmerge_796667008B1F4DF69CE9E7EFF84E7AB4]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [USER]    Script Date: 16-Oct-20 7:51:42 AM ******/
CREATE ROLE [USER]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_054A7D02E468444FB095B3B337A38D9A]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_163951FC1AE9411691838ED27B25745D]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_796667008B1F4DF69CE9E7EFF84E7AB4]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_239BD4980F3B4A27B92146672255380F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D6CA0CFD8A524B11B27A206621F0E8A9]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)),
	[HOCPHI] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)),
	[SOTIENDADONG] [int] NOT NULL CONSTRAINT [DF_HOCPHI_SOTIENDADONG]  DEFAULT ((0)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_42C03D221AD74E6DAA2C9844E5AA7457]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_15F8F62FEA8541B7947D701B2A8FAADE]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_81D54AE5BEC8460CBAB9D4E6C8EF3594]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D9F603AFA0F34FBA8D0B6DD9E83690FF]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_07BEFDD9C9434A6E8E65176D10D5D14B]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM   dbo.sysmergepublications AS PUBS INNER JOIN
          dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  View [dbo].[v_SISO]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SISO]
AS
SELECT L.MALOP , L.TENLOP, COUNT(S.MASV ) AS SISO
FROM LOP L LEFT JOIN 
  (SELECT MASV, MALOP FROM SINHVIEN WHERE NGHIHOC='FALSE') S
     ON L.MALOP=S.MALOP 
GROUP BY L.MALOP, L.TENLOP

GO
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'C10TH01     ', N'CTDL  ', 1, 7, N'617060e5-36eb-ea11-be3f-982cbcfa2d6d')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N15DCCN001  ', N'CSDL  ', 1, 3, N'fa3691cd-0ee8-ea11-be35-982cbcfa2d6d')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N15DCCN002  ', N'CSDL  ', 1, 0, N'fb3691cd-0ee8-ea11-be35-982cbcfa2d6d')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT', N'd8dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT', N'd9dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ', N'dadac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [SOTIENDADONG], [rowguid]) VALUES (N'N15DCCN001  ', N'2019-2029', 1, 3450000, 3450000, N'b447de7e-12e8-ea11-be35-982cbcfa2d6d')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'CNTT', N'Công nghệ thông tin', N'cedac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'VT  ', N'Viễn thông', N'cfdac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'C10THA1 ', N'Cao dang chính qui CNTT ', N'CNTT', N'dcdac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D08VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2008', N'VT  ', N'dfdac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D09VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2009', N'VT  ', N'e0dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL  ', N'Co so du lieu', N'd1dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL2 ', N'Cở sở dữ liệu 2', N'b1ff0d16-baea-ea11-be3e-982cbcfa2d6d')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDLPT', N'Co so du lieu phan tan', N'd2dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA101    ', N'Nguyễn Thanh', N'Hằng', N'D08VTA1 ', 1, CAST(N'1975-12-07 00:00:00.000' AS DateTime), N'Haø noäi', N'11 Leâ Vaên Syõ', N'', 0, N'e3dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA102    ', N'Võ Văn', N'Phát', N'D08VTA1 ', 1, CAST(N'1976-05-05 00:00:00.000' AS DateTime), N'Phuù Yeân', N'246 Phaân Ñình Phuøng', N' ', 0, N'e7dac108-3fc3-ea11-be2f-982cbcfa2d6d')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'09THA101    ', N'Le Thi', N'Van', N'd16     ', 0, CAST(N'1976-06-06 00:00:00.000' AS DateTime), N'Hà Nội', N'Ngô Quyền', N' ', 0, N'e8dac108-3fc3-ea11-be2f-982cbcfa2d6d')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOP]    Script Date: 16-Oct-20 7:51:43 AM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MONHOC]    Script Date: 16-Oct-20 7:51:43 AM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[BangdiemMH_Report]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BangdiemMH_Report]
@malop char(8), @mamh char(6), @lan int
AS
BEGIN
	IF EXISTS(SELECT MALOP FROM LOP WHERE MALOP=@malop)
		BEGIN
			SELECT HO+' '+TEN AS HOTEN, DIEM
			FROM (SELECT MASV, DIEM FROM DIEM WHERE MAMH=@mamh AND LAN=@lan) DIEMMH, (SELECT MASV, HO, TEN FROM SINHVIEN WHERE MALOP=@malop) AS LOPSV
			WHERE DIEMMH.MASV = LOPSV.MASV
		END
	ELSE
		BEGIN
			SELECT HO+' '+TEN AS HOTEN, DIEM 
			FROM (SELECT MASV, DIEM FROM LINK0.QLDSV.DBO.DIEM WHERE MAMH=@mamh AND LAN=@lan) DIEMMH, (SELECT MASV, HO, TEN FROM LINK0.QLDSV.DBO.SINHVIEN WHERE MALOP=@malop) AS LOPSV
			WHERE DIEMMH.MASV = LOPSV.MASV
		END
END
GO
/****** Object:  StoredProcedure [dbo].[DanhSachSinhVien]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DanhSachSinhVien]
@MALOP nchar(8),
@LAN INT,
@MAMH NCHAR(20)
as
begin
	
	select SINHVIEN.MASV,HOTEN= SINHVIEN.ho + ' ' + SINHVIEN.TEN,DIEM = isNULL(DIEM.DIEM,-1) from SINHVIEN 
	
	left join DIEM on SINHVIEN.MASV = DIEM.MASV
	
	where SINHVIEN.MALOP = @MALOP and ( DIEM.MAMH is NULL  or (DIEM.MAMH = @MAMH  and	 DIEM.LAN = @LAN))

end 
GO
/****** Object:  StoredProcedure [dbo].[DSSV_REPORT]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSSV_REPORT]
@MALOP nchar(8)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MALOP=@MALOP)
		BEGIN
			SELECT HO, TEN, PHAI, NGAYSINH, NOISINH, DIACHI FROM SINHVIEN WHERE MALOP=@MALOP AND SINHVIEN.NGHIHOC='false'
		END
	ELSE
		RETURN 1;
END

GO
/****** Object:  StoredProcedure [dbo].[DSThihetmon_Report]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSThihetmon_Report]
@MALOP char(8)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MALOP=@MALOP)
		BEGIN
			SELECT MASV, HO+' '+TEN AS HOTEN FROM SINHVIEN WHERE MALOP=@MALOP AND SINHVIEN.NGHIHOC='false'
		END
	ELSE
		RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[PHIEUDIEM_Report]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PHIEUDIEM_Report]
@masv char(8)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM SINHVIEN WHERE SINHVIEN.MASV = @masv)
	BEGIN
		SELECT TENMH, DIEM 
		FROM (SELECT MAMH, MAX(DIEM) AS DIEM FROM DIEM WHERE MASV=@masv GROUP BY MAMH) DIEMSV,
		      MONHOC 
		WHERE DIEMSV.MAMH=MONHOC.MAMH
		
	END
	ELSE
	BEGIN
		SELECT TENMH, DIEM 
		FROM (SELECT MAMH, MAX(DIEM) AS DIEM FROM LINK0.QLDSV.DBO.DIEM WHERE MASV=@masv GROUP BY MAMH) DIEMSV,
		      MONHOC 
		WHERE DIEMSV.MAMH=MONHOC.MAMH
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BANGDIEMTONGKET_Report]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BANGDIEMTONGKET_Report]
@MALOP char(10)
AS
BEGIN
	SELECT sv.MASV+'- '+HO+' '+TEN AS HOTEN,TENMH ,MAX(DIEM)AS DIEM 
	FROM SINHVIEN sv,MONHOC mh,DIEM diem 
	WHERE MALOP=@MALOP AND sv.MASV=diem.MASV  AND mh.MAMH=diem.MAMH AND sv.NGHIHOC='false'
	GROUP BY sv.MASV,HO,TEN,TENMH
	ORDER BY sv.TEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
BEGIN
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DsDongHocPhi_Report]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DsDongHocPhi_Report]
@MALOP char(10),
@NIENKHOA nvarchar(50),
@HOCKY int
AS
BEGIN
	SELECT HO+' '+TEN AS HOTEN, HOCPHI, SOTIENDADONG 
	FROM SINHVIEN LEFT JOIN  HOCPHI ON SINHVIEN.MASV=HOCPHI.MASV  
	WHERE NIENKHOA=@NIENKHOA  AND HOCKY=@HOCKY AND MALOP=@MALOP  AND SINHVIEN.NGHIHOC='false'
	ORDER BY TEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Hocphi]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Hocphi]
@MASV char(12)
AS
BEGIN
IF ((SELECT NGHIHOC FROM SINHVIEN WHERE SINHVIEN.MASV=@MASV) = '1')
		BEGIN
			RETURN 1;
		END
	ELSE
		SELECT NIENKHOA,HOCKY,HOCPHI,SOTIENDADONG FROM HOCPHI WHERE MASV=@MASV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertValueHP]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertValueHP]
@MASV char(12),
@NIENKHOA nvarchar(50),
@HOCKY int,
@HOCPHI int,
@SOTIENDADONG int
AS
BEGIN		
	IF EXISTS (SELECT 1 FROM HOCPHI WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY= @HOCKY)
			BEGIN
				UPDATE HOCPHI
				SET HOCPHI=@HOCPHI , SOTIENDADONG=@SOTIENDADONG
				WHERE MASV=@MASV AND NIENKHOA=@NIENKHOA AND HOCKY= @HOCKY
			END
	ELSE
		BEGIN
			INSERT INTO HOCPHI(MASV, NIENKHOA, HOCKY,HOCPHI,SOTIENDADONG)
			VALUES (@MASV,@NIENKHOA,@HOCKY,@HOCPHI,@SOTIENDADONG)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS

	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINSV]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINSV]
@MASV char(12)
AS
BEGIN
	IF EXISTS (SELECT HO+' '+TEN AS HOTEN,MALOP FROM SINHVIEN WHERE MASV=@MASV AND SINHVIEN.NGHIHOC='false')
		BEGIN
			SELECT HO+' '+TEN AS HOTEN,MALOP FROM SINHVIEN WHERE MASV=@MASV AND SINHVIEN.NGHIHOC='false'
		END
	ELSE
		RETURN 1;
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINSV_ReportPhieuDiem]    Script Date: 16-Oct-20 7:51:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINSV_ReportPhieuDiem]
@MASV char(12)
AS
BEGIN
		IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MASV)
		BEGIN
			SELECT HO+' '+TEN AS HOTEN,SINHVIEN.MALOP,TENLOP 
			FROM SINHVIEN,LOP 
			WHERE MASV=@MASV AND SINHVIEN.MALOP=LOP.MALOP AND SINHVIEN.NGHIHOC='false'
		END
	ELSE
		RETURN 1;
END 
GO
